

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.home-all {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}

.search-bar-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.search-icon {
  padding: 10px;
}


.home-search {
  /* height: 200px; */
  width: 100%;
  align-items: center;
  display: flex;
  margin-top: 50px;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px 0 #dce0e0;
  flex-direction: row;
  // justify-content: space-around;
}



.tbili-home-header {
  color: rgb(46, 244, 193);
  font-size: 70px;
}

.home-search-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  label {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 25px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-right: 1px solid lightgray;
  }
  label:last-of-type {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }
  input {
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 4px 0px;
    width: 100%;
  }
  input:last-of-type {
    border-radius: 3px;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.search-submit {
  padding: 11px !important;
  background-color: rgba(46, 244, 193, 0.54);
  color: white;
}

.home-search-date {
  display: flex;
}

.home-search-input {
  input[type="submit"] {
    width: 45%;
  }
}
