// .unfinished {
//   background-color: blue;
// }
//
// .slick-slide {
//   color: red;
//   background-color: blue;
//   border: 1px solid green;
//   width: 200px;
// }
//
// .slick-slide h3 {
//   font-size: 48px;
//   width: 10px;
// }
//
// .slick-active {
//   width: 100px;
//   color: black;
// }

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.home-all {
  margin: 0 auto;
  max-width: 1200px;
  width: 75%;
}

.search-bar-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.search-icon {
  padding: 10px;
}


.home-search {
  /* height: 200px; */
  width: 100%;
  // padding-bottom: 25px;
  // padding-top: 25px;
  /* margin: 50px; */
  /* margin: 50px; */
  align-items: center;
  display: flex;
  margin-top: 50px;
  border: 1px solid  #484848;
  border-radius: 2px;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px 0 #dce0e0;
  flex-direction: row;
  // justify-content: space-around;
}



.tbili-home-header {
  color: rgb(46, 244, 193);
  font-size: 70px;
}

.home-search-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  label {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 25px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-right: 1px solid lightgray;
  }
  label:last-of-type {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }
  input {
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 4px 0px;
    width: 100%;
  }
  input:last-of-type {
    border-radius: 3px;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.search-submit {
  padding: 11px !important;
  background-color: rgba(46, 244, 193, 0.54);
  color: white;
}

.home-search-date {
  display: flex;
}

.home-search-input {
}



// padding: 4% 0%;
// width: 20%;
// border: 0px;
// border-right: 1px solid lightgray;
// font-family: 'Roboto', sans-serif;
// font-size: 16px;
// font-weight: bold;






// padding: 3.7% 0%;
// width: 20%;
// border: 0px;
// border-right: 1px solid lightgray;
// font-family: 'Roboto', sans-serif;
// font-size: 16px;
// font-weight: bold;



// display: flex;
// align-items: center;
// width: 90%;
// justify-content: space-between;
