// .unfinished {
//   background-color: blue;
// }
//
// .slick-slide {
//   color: red;
//   background-color: blue;
//   border: 1px solid green;
//   width: 200px;
// }
//
// .slick-slide h3 {
//   font-size: 48px;
//   width: 10px;
// }
//
// .slick-active {
//   width: 100px;
//   color: black;
// }

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.home-all {
  margin: 0 auto;
  max-width: 1200px;
  width: 75%;
}

.search-bar-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.search-icon {
  padding: 10px;
}


.home-search {
  /* height: 200px; */
  width: 100%;
  padding-bottom: 25px;
  padding-top: 25px;
  /* margin: 50px; */
  /* margin: 50px; */
  align-items: center;
  display: flex;
  margin-top: 50px;
  border: 1px solid  #484848;
  border-radius: 2px;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px 0 #dce0e0;
}

.featured-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.tbili-home-header {
  color: rgb(46, 244, 193);
  font-size: 70px;
}
