.hosted-spot-detail {

  border: 1px solid gray;
  padding: 15px;
  width: 1086px;
  margin: 15px 0px;
  h2, h3, h4 {
    padding: 5px 0px;
  }
}

.hosted-spot-index {
  width: 85%;
  margin: auto;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }
}

.hosted-spot-detail-1 {
  width: 40%;
}
.hosted-spot-detail-2 {
  
}
.hosted-spot-detail-3 {
  width: 40%;
}
