.hosted-spot-detail {

  border: 1px solid gray;
  padding: 15px;
  width: 1086px;
  margin: 15px 0px;
  h3, h4 {
    padding: 5px 0px;
    font-weight: 700;
  }
  h2 {
    padding-bottom: 15px;
    padding-top: 5px;
  }
}

@media (max-width: 1080px) {
  .hosted-spot-detail {
    flex-direction: column !important;
  }
}

.hosted-spot-index {
  width: 85%;
  margin: auto;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 8px;
  }
}

.hosted-spot-detail-1 {
  width: 65%;
  div {
    align-items: center;
  }
  button {
    padding: 4px 25px;
    width: 140px;
    background-color: rgba(46, 244, 193, 0.64);
    white-space: nowrap;
    margin: 14px;
    text-align: center;
    border: 0px;
    color: black;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #888888;
  }

  button:hover {
    background-color: rgb(244, 52, 46);
    color: white;
  }
}
.hosted-spot-detail-2 {
  width: 20%;

}
.hosted-spot-detail-3 {
  width: 40%;
}
