

.nav-logged-out {
  display: flex;
  width: 100%;
  align-content: space-around;
  position: inherit;
}

.nav-logged-in {
  display: flex;
  width: 100%;
  align-content: space-around;
  position: inherit;
}

.nav-btn {
  background-color: white;
  border-color: white;
  border: 0px;
  padding-left: 7%;
  font-family: 'Roboto', sans-serif;;
  font-size: 14px;
  color: black;
  white-space: nowrap;
}

.search-bar {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tbili-logo {
  padding: 15px;
}

.user-img {
  height: 40px;
  width: 40px;
  padding-left: 6%;
}

.home {
  display: none;
}
//
.not-home-logo {
  padding: inherit;
  border-right: 1px solid #8a8a8a;
}

.not-home {

}

.placeholder-1 {
  height: 10000px;
}

.hidden {
  display: none;
}

.search {
  background-color: white;
}

@keyframes comeDown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}
.stuck {
  position: fixed;
  top: 0px;
  animation: comeDown 1s;
  width: 100%;
  height: 68px;
  background-color: white;
}

.unstuck {
  width: 100%;
  height: 68px;

}
