.review-index-header {
  padding: 30px 0px;
  h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }

}

.review-index-icon {
  font-size: 30px;
}

.review-index-item {
  align-items: flex-start;
  width: 90%;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  div {
    padding: 10px;
  }
}

.review-user {
  width: 11%;
}

.review-text-body {
  width: 83%;
}
