.map {
    width: 60%;
    height: 93%;
    float: left;
    position: fixed !important;
    right: 0px !important;
}

// true map width - 835px

.search-result-outer-container {
  display: flex;
}

.search-spots-results {
  display: flex;
  flex-direction: row;
  // position:absolute;
  // left: 0px;
  // right: 1100px;
}

.map-container {
    overflow: hidden;
    position: fixed;
    right: 0px;
    height: 100%;
}

.search-spots-list {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  right: 835px;
  left: 0px;
}

.search-result-index-item {
  padding: 20px;
}

.rheostat-container {
  height: 30px;
}

.rheostat {
  overflow: visible;
  height: 10px;
  border-bottom: 5px solid rgb(46, 244, 193);
  border-radius: 20px;
}

.rheostat-background {
  background-color: #fcfcfc;
  border: 0px solid #d8d8d8;
  position: relative;
}

.rheostat-progress {
  background-color: #abc4e8;
  position: absolute;
}

.rheostat-handle {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
  height: 24px;
  outline: none;
  z-index: 2;
  width: 24px;
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #dadfe8;
}

.guest-no-input {

}

.room-type {
  display: flex;
  padding: 28px 0px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.room-label {
  width: 35px;
}

.room-checkbox {

}

.search-form {

}

.search-result-form-container {
  background-color: black;
}

.search-result-filter {
  width: 40vw;
}

.search-result-index-item{
  width: 200%;
  background: pink;
}
