.step-two-unprogress {
  height: 14px;
  width: 33.3%;
  background-color: rgb(236, 236, 236);
}

.step-two-progress {
  height: 14px;
  width: 66.6%;
  background-color: rgba(46, 244, 193, 0.54);
}

.photo-upload-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
  }
}

.photo-upload-form {
  margin-top: 10px;
  padding: 60px;
  border: 2px dashed lightgray;
  justify-content: space-around;
  input {

  }
}

.upload-img {
  overflow: hidden;
  height: 300px;
  width: 400px;
  border: 0px;
}

.upload-img-container {
  margin-top: 20px;
  margin: 0 auto;
  height: 300px;
  width: 400px;
  border: 0px;
}
