.trips-show-index {
  width: 85%;
  margin: 0 auto;
}

.past-trips {
  flex-wrap: wrap;
}

.upcoming {
  flex-wrap: wrap;
}

.trips-show-detail {
  margin: 20px;
  height: 465px;
  border: 1px solid lightgray;
}
