.trips-show-index {
  width: 85%;
  margin: 0 auto;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 18px;
  }
}

.past-trips {
  flex-wrap: wrap;
}

.upcoming {
  flex-wrap: wrap;
}

.trips-show-detail {
  margin: 20px;
  margin-bottom: 25px;
  height: 465px;
  border: 1px solid lightgray;

  li {
    margin: 0 auto;
  }

  h3 {
    margin: 8px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
  }

  h4 {
    margin: 5px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
}

.trip-show-date-divider {
  height: 10px;
}

.cancel-trip {
  margin: 13px;
  padding: 6px;
  border: 0px;
  border-radius: 3px;
  background-color: white;
}

.cancel-trip:hover {
  background-color: rgb(231, 99, 81);
}
